.navigation-clean {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  /*color: #222;*/
}

.navigation-clean .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
  margin-left: 5px;
}

.navigation-clean .navbar-toggle {
  border-color: #ddd;
}

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
  background: none;
}

.navigation-clean.navbar-inverse .navbar-toggle {
  border-color: #555;
}

.navigation-clean .navbar-toggle .icon-bar {
  background-color: #888;
}

.navigation-clean.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  border-top-color: #ddd;
}

.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form {
  border-top-color: #333;
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-default .navbar-nav > li > a {
  color: #465765;
}

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean.navbar-inverse {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a {
  color: #dfe8ee;
  font-weight: bold;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean.navbar-inverse .navbar-nav > li > a:hover {
  color: #fe0707 !important;
  background-color: transparent;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #6d8de1;
}

#footer a:active, a:hover {
  /*color: #fcf8f8;*/
  /*text-decoration: none;*/
  /*font-weight: bold;*/
}

a:active, a:hover {
  outline: 0;
}

.uk-link, a {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}

.uk-link:hover, a:hover {
  /*color: #0f6ecd;*/
  text-decoration: underline;
}

audio, iframe, img, svg, video {
  /*vertical-align: middle;*/
}

audio, img, video {
  max-width: 50%;
  /*height: 300px;*/
  box-sizing: border-box;
  max-height: 400px;
}

img {
  border-style: none;
}

address, dl, fieldset, figure, ol, p, pre, ul {
  /*margin: 0 0 20px 0;*/
}

ol, ul {
  padding-left: 30px;
}

article, aside, details, figcaption, figure, footer, header, main, nav, summary {
  display: block;
}

a, area, button, input, label, select, summary, textarea {
  touch-action: manipulation;
}

#slide {
  grid-area: menu;
}

navclass {
  position: fixed;
}

.btnfix {
  position: fixed;
}

.box {
  border-radius: 20px;
}

.img.avatat {
  width: 40%;
  border-radius: 50%;
}

.imgavatat {
  width: 40%;
  border-radius: 50%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px 12px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 37px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: 100%;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  overflow-y: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

.cancelbtn {
  width: 100%;
}

.field {
  width: 100%;
}

.drop {
  width: 100%;
}

.add {
  text-align: right;
}

.addBtn {
  float: right;
}

#drop-notificaton {
  z-index: 1;
}

.container.warp {
  padding-left: 250px;
}

