.btn {
  border-radius: 7%;
}

.raw-btn {
  font-size: 11px;
  max-width: 37px;
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  max-height: 23px;
}

.navbar.navbar-dark.navbar-expand-md.sticky-top.shadow {
}

.navbar.navbar-dark.navbar-expand-md.sticky-top.shadow {
}

.navbar.navbar-dark.navbar-expand-md.sticky-top.shadow {
}
/* style slid bar */
.cont{
	float: left;
	height: 100%;
}
.div-r{
	width: 95%;
}
.contnu{
	width: 0px;
	
	height: 100%;
	background: black;
	
    transition: all .5s ease-in-out;	
    -webkit-transition: all .5s ease-in-out;	
    -o-transition: all .5s ease-in-out;	
    -moz-transition: all .5s ease-in-out;	
}
.contnu ul{
	text-decoration: none;
	list-style: none;
}

.show{
	display: block;
}
/*end style slidbar*/
